version: '3.8'

services:
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    volumes:
      - db_data:/var/lib/postgresql/data
    env_file:
      - ./backend/.env

  backend:
    build:
      context: ./backend
    restart: unless-stopped
    ports:
      - "25432:3000" # expose backend on host port 25432
    depends_on:
      - db
    env_file:
      - ./backend/.env

volumes:
  db_data:
    driver: local
